@use "../variables.scss" as vars;

@media screen and (min-width: 768px) {
  .descr {
    hr {
      width: calc(100vw - 120px);
    }
  }

  .descr-buttons {
    padding-top: 60px;
    padding-bottom: 60px;

    button {
      @include vars.hero-regular;
    }

    button:first-of-type {
      margin-left: 60px;
    }

    button:last-of-type {
      margin-right: 60px;
    }
  }

  .descr-text {
    padding: 60px;

    h4 {
      @include vars.h2-regular;
    }
  }
}
